.actionsBarContainer {
  color: white;
  vertical-align: center !important;
}

.filtersContainer {
  align-self: left !important;
  justify-content: left !important;
  align-items: left !important;
}

/* Buttons */

.actionBarButtons {
  color: white;
  border-color: white !important;
}

.actionBarButtons:hover {
  background-color: #6d45ab !important;
}

.actionBarButtonsIsPressed {
  background-color: #6d45ab !important;
}

/* Text */

.actionBarText {
  color: white;
  font-weight: lighter;
  align-items: center;
  vertical-align: center;
}

.actionBarSubText {
  color: white;
  font-weight: lighter !important;
  align-items: center;
  vertical-align: center;
}

/* Add Task Button */

#addTaskButton {
  background-color: #00c0a6 !important;
}

.addTaskContainer {
  text-align: left !important;
  padding-top: 15px;
}

/* Icons */

#addTaskIcon {
  color: white;
  font-weight: lighter;
  height: 20px;
}

#topPriorityIcon {
  color: white;
  height: 20px;
}

#openTaskIcon {
  color: white;
  height: 20px;
}
