.actionsBarContainer {
    display: flex;
    align-items: left;
    text-align: left !important;
    padding-bottom: 15px;
}

[TopPriorityPressed = false] button {
    background: black;
    border: 1px solid blue;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  [TopPriorityPressed = true] button {
    background: green;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
  }

  [TopPriorityPressed = false] button {
    background-color: black;
  }

  [TopPriorityPressed = true] button {
    background-color: blue;
  }