/* .tableContainer {
    position: relative !important;
} */


.hyperTableCell{
    text-align: center !important;
    vertical-align: text-top;

}

.tableCell {
    text-align: center !important;
    /* line-height: 12px !important; */
    font-size: smaller !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    /* color: gray !important; */

}

.icon {
    padding-left: 5px !important;
}

.addTaskIcon{
    align-items: left !important;
    position: static !important; 
    left:80px !important;
}